body{
  width: 100%;
  height: 100vh;
  font-size: 16px;
}

#profile, .contact, .info, #bio, #skills, .myskills, .lang{ 
width: 100%;
 }

 body, #profile, .info-contact, .contact, {
   display: block;
 }

 .info-contact, .contact, .myskills{ 
 text-align: center;
 }
/*First part*/
#profile{
  margin: 0 auto;
  position: relative;
}

#info-picture{ 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 3%;
  background-color: #DCDCDC;
}

.info-contact{
  width: 60%;
  
}

.contact{
  height: 50%;
  margin-top: 10%;
}

.picture{
  display: block;
  width: 150px;
  height: 150px;
  background: url("assets/profilepic.JPG");
  background-size: cover;
  margin: 1%;
  box-shadow: 0 0 5px 5px #DCDCDC inset;
}

.info{
  height: 50%;
}
h1{
  font-size: 1.5rem;
}

h3{
  margin-bottom: 10%;
  font-size: 1.2rem;
  font-weight: bold;
}

.job{
  font-size: .8rem;
}
.coding-lang{
  font-size: .6rem;
  text-align: right;
}

.contact{
  font-size: 1rem;
}

i{
  font-size: 2rem;
}

/*Second Part*/

.line{
  display: block;
  position: absolute;
  width: 100%;
  height: 5%;
  background: linear-gradient(#DCDCDC, white);
}

#bio{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.about, .goals, .hobby{
  width: 30%;
  font-size: 1rem;
  display: inline;
  line-height: 1.3rem;
}
#skills, .about{ 
  margin-left: 1%;
   }
  .about{
  padding-right: 1%;
  border-right: 3px dotted black;
}
.hobby{
  margin-right: .5%;
  padding-left: 2%;
  border-left: 3px dotted black;
}
.fas{
  font-size: 1.2rem;
  margin-right: .5rem;
}

.reverse-line{
  display: block;
  position: absolute;
  width: 100%;
  height: 5%;
  background: linear-gradient(white, #DCDCDC);
}
#skills{
  margin-top: 2%;
  background-color: #DCDCDC;
  margin-left: 0;
}
.myskills{
  display: inline-flex;
  /*justify-content: space-between;*/
  justify-content: center;
  line-height: 2rem;
}

.h1skills{
  margin-left: 1%;
  padding-top: 1%;
}

.html, .css, .javascript{
  margin: 2% auto;
}

.fa-stack{
  font-size: 2rem;
}

.lang{
  border-top: 1px solid black;
  background-color: #DCDCDC;
  
}
ul{
  display: inline-flex;
  font-size: 1rem;
  line-height: 1.5rem;
}

.lang-link{
  padding-right: 5px;
  margin-top: 5px;
}

a{
  color: black;
}

.about-head, .goals-head, .hobby-head{
  display: inline-flex;
  align-content: center;
}

.quotes{
  display: flex;
  justify-content: center;
  align-content: flex;
  margin-top: 2%;
  padding-top: 3%;
}

h4{
  font-size: 1.3rem;
}


/*Mobile display*/
@media (max-width: 420px){
  #bio{
    display: block;
    width: 90%;
    padding-left: 2%;
  }

  .h1skills, .quotes{
    padding-top: 5%;
  }

  

  .reverse-line ,.line{
    height: 2%;
  }
.about, .goals, .hobby{
  border: none;
}
.about-head, .goals-head, .hobby-head{
  width: 100%;
  border-top: 3px dotted black;
  margin-top: 10%;
  padding-top: 3%;
}
h3{
  margin-bottom: 1%;
}
}